<section id="memes" class="container">
  <table class="table" id="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
    <% memes.forEach(function(meme){ %>
      <tr>
        <th scope="row"><%= meme.name %></th>
        <td><img id="image" src="<%= meme.url %>" alt="Meme <%= meme.name %> picture"></td>
        <td><input type="button" onclick="location.href='/meme/<%= meme.id %>';" value="Details" /></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</section>