<nav id="navbar" class="navbar navbar-expand-sm navbar-light bg-light position-fixed w-100 fixed-top">
    <div class="container-fluid">
                <a href="/memes">
                <img id="logo" src='/images/logo.png' alt="Logo">
                </a>
                <a class="navbar-brand" href="/">Meme Central</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/memes">Memes</a>
                </li>
                
                <!-- Diffrent views for Guest and User -->
                <li class="nav-item">
                    <% if (!user) { %>
                        <a class="nav-link" href="/login">Sign in</a>
                    <% } %>
                    <% if (user) { %>
                        <a class="nav-link" href="/login">Log out</a>
                    <% } %>
                </li>
            </ul>
        </div>
        <% if (!user) { %>
        <div class="Guest">
            <p>Guest</p>
        </div>  
            <% } %>
        <% if (user) { %>
            <div class="User">
            <p><%= user.username %></p>
        </div>
        <% } %>
    </div>
</nav>

