<!DOCTYPE html>
<html lang="en">

<head>
  <title>Memes</title>
  <!-- BM Chaneg the path to the css files -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link href="../../stylesheets/memes/navbar.css" rel="stylesheet">
  <link href="../../stylesheets/memes/style.css" rel="stylesheet">

</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    
  <div data-spy="scroll" data-target="#navbar" data-offset="0">

    <%- include("./partials/memes.ejs", {data: memes}) %>
  
  </div>

    <%- include('./partials/scripts.ejs') %>
    <script src="./memes.js"></script>
</body>

</html>