body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}

#image {
  height: 20%;
  width: 20%;
}

.selected {
  background-color: gray;
}

#memeInput {
  width: 80%; 
  font-size: 16px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

#memeTable {
  border-collapse: collapse; 
  width: 100%; 
  border: 1px solid #ddd; 
  font-size: 18px; 
}
